<div class="container py-5">
  <div class="row justify-content-center">
    <div class="rounded justify-content-center d-flex">
      <div class="row bg-white p-5 shadow sign">
        <div class="col-7">
          <h2 class="text-center fw-bold mt-5">Sign up</h2>
          <div class="social-container text-center">
            <%= link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "social" do %>
                <i class="fab fa-google-plus-g"></i>
              <% end %>
          </div>
          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <div class="form-inputs">
              <%= f.input :name,
                          placeholder: "Name",
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "name" },
                          label: false %>
              <%= f.input :email,
                          placeholder: "Email",
                          required: true,
                          input_html: { autocomplete: "email" },
                          label: false %>
              <%= f.input :password,
                          placeholder: "Password",
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" },
                          label: false %>
              <%= f.input :password_confirmation,
                          placeholder: "Password confirmation",
                          required: true,
                          input_html: { autocomplete: "new-password" },
                          label: false %>
              <%= f.input :avatar, label: false,
                          required: true,
                          as: :file %>
          </div>
          <div class="form-actions text-center">
            <%= f.button :submit, "Sign up", class:"btn btn-purple rounded-pill my-2 w-25"%>
          </div>
          <% end %>

          <div class="links text-center">
            <%= render "devise/shared/links" %>
          </div>
        </div>
        <div class="col-5 h-100 d-flex align-items-center">
          <%= image_tag "sign.svg", class: "w-100" %>
        </div>
      </div>
    </div>
  </div>
</div>
