<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-12 rounded justify-content-center d-flex">
      <div class="bg-white col-9 col-md-6 col-lg-6 p-3 shadow">
        <h2>Edit this event</h2>
        <div data-controller="flatpickr" >
          <%= simple_form_for @schedule do |f| %>
            <%= f.input :title %>
            <div class="flatpickr">
              <%= f.input :date, as: :string, required: true, input_html: {class: "datepicker"} %>
              <%= f.submit class: "btn btn-purple rounded-pill"%>
            </div>
          <% end %>
        </div>
          <%= link_to "delete this event", schedule_path(@schedule), method: :delete, data: { confirm: "are you sure ?"} %>

      </div>
      <div class="col-3 roda-da-vida"></div>
    </div>
  </div>
</div>
