<div class="container col-8 text-center">


  

  <section>
    <div class="text_title_schedules">
      <h3 class="fw-bold">Schedule</h3>
    </div>
  </section>

  <%= month_calendar(events: @schedules, attribute: :date) do |date, schedules| %>
    <%= date.strftime('%d') %>
    <ul>
      <% schedules.each do |schedule| %>
        <li>
          <div data-bs-toggle="modal" data-bs-target="#editModal<%= schedule.id %>">
            <%= "#{l schedule.date, format: '%H:%M'} #{schedule.title}" %>
          </div>
        </li>
        <%= render 'shared/modal', id: "editModal#{schedule.id}", title: "Edit an event" do %>
          <div data-controller="flatpickr" >
            <%= simple_form_for schedule do |f| %>
              <%= f.input :title %>
              <div class="flatpickr">
                <%= f.input :date, as: :string, required: true, input_html: {class: "datepicker"} %>
                <div class="text-center">
                  <%= f.submit :submit, value: "Update Schedule", class: "btn btn-purple rounded-pill my-3"%>
                </div>
              </div>
            <% end %>
          </div>
          <div class="text-center">
            <%= link_to "Delete this event", schedule_path(schedule), method: :delete, data: { confirm: "Are you sure?"}, class: "delete" %>
          </div>
        <% end %>
      <% end %>
    </ul>
  <% end %>

   <div>
    <button type="button" class="btn btn-purple rounded-pill mt-3 mb-5" data-bs-toggle="modal" data-bs-target="#scheduleModal">
      Add an event
    </button>
    </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<%= render 'shared/modal', id: "scheduleModal", title: "Add a new schedule" do %>
  <div data-controller="flatpickr">
    <%= simple_form_for @schedule do |f| %>
      <%= f.input :title %>
      <div class="flatpickr">
        <%= f.input :date, as: :string, required: true, input_html: {class: "datepicker"} %>
        <div class="text-center">
          <%= f.submit :submit, value: "Create a Schedule", class: "btn btn-purple rounded-pill text-center mt-4"%>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
