<div class="dashboard-container">

  <div class="dashboard-card dashboard-wheel">
    <div class="dashboard-title lg">
      <div class="icon">
        <i class="fas fa-bullseye"></i>
        <h6>Weekly Goals</h6>
      </div>
      <div class="badge badge-blue">Wheel of life</div>
    </div>
    <div class="dashboard-profile">
      <div class="">
        <% if @profile_traits_empty %>
          <p>The Wheel of Life is a simple but powerful tool that helps you visualize all the important areas of your life at once. It is often used by life coaches and career coaches to give their clients a "bird's eye" view of their lives.
            By looking at a visual representation of all the areas of your life at once, the wheel helps you to better understand which of your life areas are flourishing and which ones need the most work.</p>
            <%= link_to "Wheel of life", edit_profiles_path, class: "btn btn-purple rounded-pill" %>
        <% else %>
          <ul>
            <%  @profile_traits.each do |profiles_trait| %>
              <li><i class="fas fa-caret-right mx-2"></i><%= profiles_trait.trait.name %></li>
              <p class="mt-2 mx-2"><%= profiles_trait.trait.message %></p>
            <% end %>
          </ul>
        <% end %>
      </div>
      <div class="dashboard-graphic" data-controller="chart" data-chart-values-value='<%= @hash.to_json %>' >
        <canvas data-chart-target="canvas"></canvas>
        <%= button_tag "Download", data: {chart_target: "button"}, class: "d-none" %>
      </div>
    </div>
  </div>

   <div class="dashboard-card dashboard-timer">
    <div class="dashboard-title sm">
      <div class="icon">
        <i class="fas fa-clock"></i>
        <h6>Timer</h6>
      </div>
      <div class="badge badge-red">Pomodoro</div>
    </div>
    <%= image_tag "pessoa.png", class:"dashboard-img" %>
    <%= link_to "Go to Pomodoro", pomodoros_path, class: "btn btn-purple rounded-pill mt-3" %>
  </div>

  <div class="dashboard-card dashboard-schedule">
    <div class="dashboard-title sm">
      <div class="icon">
        <i class="fas fa-calendar-week"></i>
        <h6>Calendar</h6>
      </div>
      <div class="badge badge-yellow">Schedule</div>
    </div>
    <%= image_tag "computador.png", class:"dashboard-img" %>
    <%= link_to "Go to Schedule", schedules_path, class: "btn btn-purple rounded-pill" %>
  </div>

  <div class="dashboard-card dashboard-planner">
    <div class="dashboard-title lg">
      <div class="icon">
        <i class="fas fa-tasks"></i>
        <h6>To Do List</h6>
      </div>
      <div class="badge badge-green">Planner</div>
    </div>
    <% if @cards_empty %>
      <p>The importance of project management in organizations can't be overstated. When it's done right, it helps every part of the business run more smoothly.
             It allows to focus on the work that matters, free from the distractions caused by tasks going off track or budgets spinning out of control. The visual work management tool that empowers teams to ideate, plan and manage the work in a productive and organized way.</p>
        <%= link_to "Planner", plan_path, class: "btn btn-purple rounded-pill" %>
    <% else %>
      <div id="checklist">

        <%  @cards.each do |card| %>
          <input id="<% card.id %>" type="checkbox" name="r" value="<% card.id %>">
          <label for="<% card.id %>"><%= card.title %></label>
        <% end %>
      </div>
    <% end %>
    <div class="dashboard-graphic"></div>
    </div>
  </div>
</div>
