<h1>Planejamento de camadas</h1>



<div class="kanban" data-controller="kanban">

  <% @containers.each do |container| %>
    <div class="d-flex flex-column mx-1">
      <li class="kanban-col-name d-flex justify-content-between">
        <%= container.card_category %>

        <%# <%= button_tag type: "submit", method: :delete, class: "search-category-button btn btn-light-blue rounded-pill mt-3" do %>
          <%# <span><i class="fa fa-trash" aria-hidden="true"></i></span> %>
        <%# <% end %>

        <%# <%= link_to "DEL", container, method: :delete, class: "btn-purple rounded-pill" %>
      </li>

      <ul class="kanban-col" data-kanban-target="container" data-container-id="<%= container.id %>">
        <% container.cards.order(:position).each do |card| %>
          <%# card %>
          <li class="kanban-col-item" data-kanban-target="card" data-card-id="<%= card.id %>">
            <%= card.title %>
            <%= card.description %>
          </li>
        <% end %>
      </ul>

      <li>
        <%= link_to "+ Add", new_container_card_path(container), class: "btn-purple btn mb-1" %>
        <%= link_to "Delete Container", container, method: :delete, class: "btn-warning btn" %>
      </li>
    </div>
  <% end %>

  <%# it is different dammit %>
  <%= simple_form_for @container do |f| %>
    <%= f.input :card_category, label: false, placeholder: "Add Container" %>
    <%= f.button :submit, class: "btn btn-purple" %>
  <% end %>
</div>
