<h1>Planejamento de camadas</h1>



<div class="kanban" data-controller="kanban">

  <% @containers.each do |container| %>
    <div class="d-flex flex-column mx-1">
      <li class="kanban-col-name">
        <%= container.card_category %>
      </li>

      <ul class="kanban-col" data-kanban-target="container" data-container-id="<%= container.id %>">
        <% container.cards.order(:position).each do |card| %>
          <%# card %>
          <li class="kanban-col-item" data-kanban-target="card" data-card-id="<%= card.id %>">
            <%= card.title %>
            <%= card.description %>
          </li>
        <% end %>
      </ul>

      <li>
        <%= link_to "+ Add", new_container_card_path(container), class: "btn-primary btn my-0" %>
      </li>
    </div>
  <% end %>
  <%= link_to "New Container", new_container_path, class: "kanban-col-name" %>
</div>
