<h1>Planejamento de camadas</h1>

<%= form_with(url: pages_sort_path, method: :patch) do |f|%>
  <%= f.text_field 'containers[kanbanIds]', class: "kanban-form-input" %>
  <%= f.submit "Saved changes" %>
<% end %>

<div class="kanban" data-controller="kanban">

  <% @containers.each do |container| %>
    <div class="d-flex flex-column mx-1">
      <li class="kanban-col-name">
        <%= container.card_category %>
      </li>

      <ul class="kanban-col" data-kanban-target="card">
        <% container.cards.order(:position).each do |card| %>
          <li class="kanban-col-item" >
            <%= card.title %>
            <%= card.description %>
          </li>
        <% end %>
      </ul>

      <li>
        <%= link_to "+ Add", new_container_card_path(container), class: "btn-primary btn my-0" %>
      </li>
    </div>
  <% end %>
</div>
