<h1>Create card</h1>


<%# <%= simple_form_for container_card_path do |f| %> %>

<%= simple_form_for [@container, @card] do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :position %>
  <%= f.button :submit %>
<% end %>
